body {
    background-color: rgb(44, 79, 118);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 70px;
    margin-bottom: 10px;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 1.5em;
}

.header button {
    background-color: rgb(80, 160, 176);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* .header button:hover {
    background-color: rgb(5, 30, 36);
} */

.result {
    background-color: rgb(20, 54, 84);
    height: 100px;
    width: 500px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.box {
    background-color: rgb(20, 54, 84);
    width: 500px;
    border-radius: 5px;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

button {
    background-color: rgb(77, 168, 186);
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 100px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: rgb(54, 136, 156);
}

.row5 {
    display: flex;
    margin-bottom: 10px;
}

.row5 button {
    width: 230px;
}

.operation_button:hover {
    background-color: rgb(10, 110, 210);
}

.operation_button {
    background-color: rgb(18, 58, 118);
}

/* For DEL and RESET buttons */
#del, #reset {
    background-color: rgb(217, 79, 79);  /* Red color for DEL and RESET */
}

#equals {
    background-color: rgb(255, 92, 92);  /* Bright red for the equals button */
}

/* Ensure DEL, RESET, and = stand out */
button#del:hover, button#reset:hover, button#equals:hover {
    background-color: rgb(173, 50, 50);  /* Darker red for hover */
}


